.datavue {
  padding: 0 15px 51px 35px;
}

.datavue-title {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
  font-size: 0.9em;
}

.datavue-wrapper {
  position: relative;

  svg {
    vertical-align:top;
  }
}

.datavue-grid line {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 0.15
}

.datavue-serie-1 {
  fill: #2779BD;
  background-color: #2779BD;
}

.datavue-serie-2 {
  fill: #1F9D55;
  background-color: #1F9D55;
}

.datavue-serie-3 {
  fill: #d9b30b;
  background-color: #b8960b;
}

.datavue-serie-4 {
  fill: #DE751F;
  background-color: #DE751F;
}

.datavue-serie-5 {
  fill: #CC1F1A;
  background-color: #CC1F1A;
}

.datavue-serie-6 {
  fill: #794ACF;
  background-color: #794ACF;
}
